:root {
    --blue: lightblue;
    --dblue: rgb(134, 166, 177);
    --red: red;
    --green: green;
    --ddblue: blue;
}


body {
    margin: 10px;
    /*MENOS 20 DA MARGEM*/
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);

    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    & .modulo {
        border: 2px solid black;

        & h1 {
            height: 18px;
            padding: 5px 0 5px 0;
            margin: 0px;
            border-bottom: 2px solid black;
            background-color: var(--blue);

            text-align: center;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 18px;
        }

        & .config-com-inputs {
            /*height: calc(100% - 40px);*/
            padding: 5px;
            align-items: flex-start;

            & .flex-inputs,
            .flex-labels {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                row-gap: 1px;
            }

            & .flex-labels {
                align-items: flex-start;
            }

            & .flex-inputs {
                align-items: center;

                & input {
                    width: 75px;
                    height: 14px;
                    font-size: 15px;

                    border: 1px dashed black;

                    &.input-de-lista {
                        border: 1px solid black;
                    }

                    &:disabled {
                        background-color: gray;
                    }
                }

                & select {
                    min-width: 81px;
                    height: 18px;
                    font-size: 10px;
                }
            }
        }

        #melhor {
            height: 30px;
        }

        #melhores,
        #funcao {
            flex-grow: 1;
        }

        &#c-controle>div.flex-column,
        &#c-funcao>div.flex-column {
            /*MENOS 30 DO H1 E 10 DO PADDING*/
            height: calc(100% - 40px);
        }
    }

    & #fundo-preto {
        background-color: #000000c4;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
    }

    & #botoes-zoom {
        position: fixed;
        top: calc(78vh - 25px);
        left: calc(50vw - 200px);
        width: 400px;
        height: 50px;
        visibility: hidden;
    }
}



/*DIVS DO GRID AREA*/
#c-geracoes {
    grid-area: 1 / 1 / 2 / 2;
}

#c-visualizacao {
    grid-area: 2 / 1 / 3 / 2;
}

#c-genetica {
    grid-area: 1 / 2 / 3 / 3;
}

#c-mutacao {
    grid-area: 1 / 3 / 3 / 4;
}

#c-controle {
    grid-area: 1 / 4 / 3 / 5;
}

#c-funcao {
    grid-area: 3 / 1 / 4 / 3;
}

#g-margem-de-erro {
    grid-area: 3 / 3 / 4 / 5;
}

#g-melhor {
    grid-area: 4 / 1 / 5 / 3;
}

#g-funcao {
    grid-area: 4 / 3 / 5 / 5;
}





.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.flex-row-space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
}



button {
    background: var(--blue);
    border: 2px solid black;
    border-radius: 5px;

    &:hover {
        background: var(--dblue);
        cursor: pointer;
    }
}

textarea {
    resize: none;
    /*MENOS 8 DA BORDA+PADDING DO TEXTAREA*/
    width: calc(100% - 8px);
}

#logs[disabled=""],
#output[disabled=""],
#coeficiente_de_mutacao_atual[disabled=""] {
    color: black;
}

p {
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 18px;

    &.p-popup {
        width: 100%;

        text-decoration-line: underline;
        text-decoration-style: dotted;
        cursor: help;

        position: relative;

        /*POPUPS E TEXTOS*/
        & .popup-descricao {
            display: none;
            position: absolute;
            z-index: 1;

            background-color: white;

            margin: 20px 0 0 3px;
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;

            width: min(150%, 500px);

            font-size: 12px;
            color: black;
        }

        &:hover {
            color: var(--ddblue);

            & .popup-descricao {
                display: block;

                /*SETA*/
                &::after {
                    content: "";
                    position: absolute;
                    /*BORDA DA CAIXA E BORDA DA SETA*/
                    top: calc(-2px - 20px);
                    margin-left: -2px;
                    left: 2px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }
            }
        }
    }
}



/*TEXTOS DOS POPUPS*/
.texto-item-selecao {
    font-style: bold;
    color: var(--green);
}

.texto-exemplo {
    font-style: italic;
    color: var(--ddblue);
}

.texto-aviso {
    font-style: italic;
    font-weight: bold;
    color: var(--red);
}